<div>

  <div style="text-align:center">
    <h1>
      Welcome to {{ title }}!
    </h1>
    <img width="300" alt="Angular Logo" src="assets/angular-elements-logo.png">
  </div>

  <div style="padding: 15px 0 15px 0">
    <router-outlet></router-outlet>
  </div>

  <mat-divider></mat-divider>

  <ul style="padding: 15px 0 15px 0">
    <li>
      <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
    </li>
  </ul>

  <mat-divider></mat-divider>

  <div>
    <chat-widget [theme]="theme"></chat-widget>
  </div>

</div>
