<div fxLayout="row wrap">
  <span fxFlex="100">
    {{ title }}
  </span>
  <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
    <button mat-button (click)="modeChange('index')">Index</button>
    <button mat-button (click)="modeChange('signup')" *ngIf="restrictMode !== 'signup'">
      Signup
    </button>
  </span>

  <form
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    [formGroup]="loginForm"
    (ngSubmit)="submitForm()"
    novalidate
    class="mat-body-2"
  >
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="email"
        name="email"
        [formControl]="loginForm.controls.email"
        placeholder="email"
        required
      />
      <mat-icon matSuffix class="material-icons">mail</mat-icon>
      <mat-error *ngIf="loginForm.controls.email.invalid" class="mat-body-1">
        invalid email
      </mat-error>
    </mat-form-field>
    <mat-form-field fxFlex="100">
      <input
        matInput
        type="{{ showPassword ? 'text' : 'password' }}"
        name="password"
        [formControl]="loginForm.controls.password"
        placeholder="password"
        required
      />
      <mat-icon matSuffix class="material-icons" (click)="togglePasswordVisibility()"
        >lock</mat-icon
      >
      <mat-error *ngIf="loginForm.controls.password.invalid" class="mat-body-1">
        1+ characters
      </mat-error>
    </mat-form-field>

    <mat-toolbar [color]="theme">
      <button
        mat-button
        type="submit"
        [disabled]="loginForm.pristine || loginForm.invalid"
        aria-label="submit"
      >
        Login
      </button>
    </mat-toolbar>
  </form>
</div>
