<div fxLayout="row wrap">
  <span fxFlex="100">
    {{ title }}
  </span>
  <span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
    <button mat-button *ngIf="isLoggedIn$ | async" (click)="logout()">Logout</button>
    <button
      mat-button
      *ngIf="!(isLoggedIn$ | async) && restrictMode !== 'login'"
      (click)="modeChange('login')"
    >
      Login
    </button>
    <button
      mat-button
      *ngIf="!(isLoggedIn$ | async) && restrictMode !== 'signup'"
      (click)="modeChange('signup')"
    >
      Signup
    </button>
  </span>
  <span fxFlex="100" *ngIf="!(isLoggedIn$ | async)">
    instructions?
  </span>
  <span fxFlex="100" *ngIf="(isLoggedIn$ | async) && user$ | async as user">
    <p>username: {{ user.name }}</p>
    <p>email: {{ user.email }}</p>
    <p>organization: {{ user.organization }}</p>
  </span>
</div>
